{% include 'head.html'%}
{% include 'navbar.html'%}
<h3 class="text-center mb-3">Archivos Guardados </h3>
<body xmlns="http://www.w3.org/1999/html">


        <div class="container" style="margin-top: 10px;padding: 5px">
            <table id="tablax" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <th>Name</th>
                <th>Descriptions</th>

                </thead>
                <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.name }}</td>
                    <td>{{ registro.uploadedFile }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        

            </div>
        </div>
    </div>
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
</script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
</script>
<script>
$(document).ready(function () {
    $('#tablax').DataTable({
        language: {
            processing: "Tratamiento en curso...",
            search: "Buscar&nbsp;:",
            lengthMenu: "Agrupar de _MENU_ items",
            info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
            infoEmpty: "No existen datos.",
            infoFiltered: "(filtrado de _MAX_ elementos en total)",
            infoPostFix: "",
            loadingRecords: "Cargando...",
            zeroRecords: "No se encontraron datos con tu busqueda",
            emptyTable: "No hay datos disponibles en la tabla.",
            paginate: {
                first: "Primero",
                previous: "Anterior",
                next: "Siguiente",
                last: "Ultimo"
            },
            aria: {
                sortAscending: ": active para ordenar la columna en orden ascendente",
                sortDescending: ": active para ordenar la columna en orden descendente"
            }
        },
        scrollY: 400,
        lengthMenu: [ [10, 25, -1], [10, 25, "All"] ],
    });
});
</script>
</body>
</html>